{% extends "base.html" %}
{% block content %}

<!-- Flash Messages -->

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{%if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between" role="alert">
	{{ message }}
	<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
	{{ message }}
	<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %} {% endif %} {% endwith %}



<div class="container-fluid">
    <div class="mt-2 mx-md-5 mx-2 d-flex flex-column align-items-center">
        <h2 class="mb-3">Users</h2>
        <p class="text-center">Select the user type below to see information and functionality for that user type.</p>
        <form method="POST" enctype="multipart/form-data" novalidate class="container-fluid">
            {{ form.hidden_tag() }}

            <div class="d-flex justify-content-center align-items-center mb-4 form-select-parent">
                <div class="form-select-parent">
                    {{ form.UserType(class="form-select") }}
                    {% for error in form.UserType.errors if form.UserType.errors %}
                    <span class="form-text text-danger addUserFormError">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div id="emailAndSubmitContainer">
                <h4 class="mb-3 text-center">Create New <span class="userTypeValue">Admin</span> User</h4>
                <p class="text-center">If you want to make an existing user <span class="userTypeValue">Admin</span>, change their user type instead.</p>
                {% for field in form %}
                {% if field.type == "StringField"%}
                <div class="mb-2 mb-md-4 row d-flex align-items-center">
                    {{ field.label(class="form-label col-md-2 text-md-end") }}
                    <div class="col-md-8 ">
                        {{ field(class="form-control") }}
                    </div>
                    {% for error in field.errors %}
                        <div class="row addUserFormError">
                            <div class="col-3 col-md-2"></div>
                            <span class="text-danger col"> {{error}} </span>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="d-flex justify-content-center">
                    {{ form.submit(class="btn btn-primary col-md-4 col-6", id="addUserSubmitBtn") }}
                </div>
            </div>
        </form><br>
        
		<!-- Table -->
		<div class="col-md-8 col-12">
			<h4 class="text-center">List of <span class="userTypeValue">Admin</span>s</h4>
			<p class="text-center">If the user's name is placeholder placeholder, they likely haven't set up their account yet. Click resend to resend the welcome email.</p>
			<div class="container">
				{% for user in users %}
				<div class="row outline-table text-center py-1 d-flex align-items-center">
					<span class="col-4">{{ user.email }}</span>
					<span class="col-4">{{ user.firstName }} {{ user.lastName }}</span>
					<span class="col-2">
						<form
							action=""
							method="POST">
							<button class="py-1 btn btn-secondary" type="submit">Resend Email</button>
						</form>
					</span>
					<span class="col-2">
						<form
							action=""
							method="POST">
							<button class="py-1 btn btn-light changeTypeBtn" type="submit">Change Type</button>
						</form>
					</span>
				</div>
				{% endfor %}
			</div>
		</div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

{% endblock %}