<div class="modal fade" id="changeTypeModal" tabindex="-1" aria-labelledby="changeTypeModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-0 pb-0 d-flex justify-content-center ">
				<h1 class="modal-title fs-4" id="changeTypeModalLabel">Change user type</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div id="changeTypeModalText" class="modal-body text-center">
				<p id="changeTypeModalChangesText"></p>
                <form action="/changeUserType" method="POST">
                    <label for="newTypeSelect">New user type:</label>
                    <select class="form-select" id="changeTypeModalSelect" name="newTypeSelect">
                        <option value="admin">Admin</option>
                        <option value="coordinator">Coordinator</option>
                        <option value="facilitator">Facilitator</option>
                    </select>
                    By confirming, you will make these changes.
                </div>
                <div class="modal-footer border-0 pt-0 d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger w-30 py-2">Confirm Changes</button>
                </div>
                </form>
		</div>
	</div>
</div>